
.btn{

    background-color: green;
}
button{
    background-color: green;
}
.about{
    background-color: aqua;
}
.services{
    background-color: burlywood;
}
.contact{
    background-color: coral;
}